.block-editor-writing-flow {
  font-family: var(--bs-font-sans-serif);
}

.wp-block {
  max-width: 80%;
}

@import './blocks/latest-posts.css';
@import './blocks/resume.css';
@import './blocks/image-carousel.css';
